<header class="header" data-header>
  <div class="container header__inner">
    <a class="logo" href="index.html" aria-label="KAPS home"><img src="assets/img/wordmark.svg" alt="KAPS"></a>
    <button class="nav-toggle" type="button" aria-expanded="false">Menu</button>
    <nav class="nav">
      <a href="about.html" data-nav="about">About</a>
      <a href="services.html" data-nav="services">Services</a>
      <a href="business-essentials.html" data-nav="business">Business</a>
      <a href="product-essentials.html" data-nav="product">Product</a>
      <a href="occasion-essentials.html" data-nav="occasion">Occasion</a>
      <a href="clients.html" data-nav="clients">Clients</a>
      <a class="btn btn--primary" href="contact.html"><span class="btn__label" data-text="Send us your file"><span>Send us your file</span></span><span class="btn__arrow" aria-hidden="true"><i>&rarr;</i><i>&rarr;</i></span></a>
    </nav>
  </div>
</header>
